@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap%27");
* {
  margin: 0;
  padding: 0;
}
.body{
  font-family:  "Poppins";
}

.donut {
  height: 28vh;
  width: 28vh;
}

@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.p {
  font-size: 1.6rem;
}

.h1 {
  font-size: 1rem;
}

.app {
  text-align: center;
  color: rgb(38, 38, 38);
}

.app .search {
  text-align: center;
  padding: 0rem;
}

.app input {
  padding: 0.7rem 1.5rem;
  font-size: 1.2rem;
  border-radius: 10px;
  border: 0 solid rgb(111,106,248);
  background: #F2F2FD;
  color: rgb(0, 0, 0);
}

.app .temp {
  padding: 0.3rem 1rem;
  font-size: 0.5rem;
  color: rgb(38, 38, 38);
}

::placeholder {
  color: rgb(80, 79, 79);
}

.todoSearch{
  width: 90%;
  height: 40px;
}
.container {

  margin: auto;
  padding: 0.1rem;
  top: 10%;
  display: flex;
  flex-direction: column;
}

.app .top {
  width: 100%;
  margin: 1rem auto;
}

.app .description {
  position: relative;
  transform-origin: 0 0;
  transform: rotate(269deg);
}

.app .form-input {
  position: relative;
  width: 100%;
  display: flex;
  align-self: center;
  justify-content: center;
  text-align: center;
  
}

.app form input {
  border: 1px solid rgb(0, 0, 0);
  padding: 5px 10px 5px 50px;
  font-size: 18px;
  line-height: 30px;
  outline: 0;
  display: block;
  width: 100%;
  border-radius: 8px;
  text-align: center;
}

.app .task-row {
  border: 1px solid rgb(0, 0, 0);
  padding: 10px;
  font-size: 18px;
  line-height: 30px;
  margin: 8px 0;
  width: 94%;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.app .task-row p {
  text-transform: capitalize;
}

.app .length {
  margin: 1rem 0;
}

.app .bottom {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  width: 100%;
  width: 100%;

  margin: 2rem auto;
  padding: 1rem;
  border-radius: 12px;
  background-color: #F2F2FD;
}

.bold {
  font-weight: 700;
}

.donut {
  margin-top: auto;
  margin-right: auto;
  float: left;
}
.crypto-container {
  padding: 20px;
  overflow: hidden;
}

.crytpo-btc {
  float: left;
  padding: 40px;
  width: 50%;
  height: 40vh;
  margin-bottom: 15px;

}
.crytpo-eth {
  float: left;
  padding: 40px;
  width: 50%;
  height: 40vh;
}

.resetZoomEth {
  display: inline-block;
  outline: 0;
  border: none;
  cursor: pointer;
  line-height: 1.2rem;
  font-weight: 500;
  background: rgb(111,106,248);
  padding: 8px 12px 9px;
  font-family: "Poppins";
  font-size: 13px;
  border-radius: 20px;
  color: #fff;
  height: 36px;
  transition: all 75ms ease-in-out;
}

.resetZoomEth:hover {
  box-shadow: 0 1px 4px rgb(0 0 0 / 30%);
}

.resetZoomBtc {
  display: inline-block;
  outline: 0;
  border: none;
  cursor: pointer;
  line-height: 1.2rem;
  font-weight: 500;
  background: rgb(247, 164, 99);
  padding: 8px 12px 9px;
  font-size: 13px;
  font-family: "Poppins";
  border-radius: 20px;
  color: #fff;
  height: 36px;
  transition: all 75ms ease-in-out;
}

.resetZoomBtc:hover {
  box-shadow: 0 1px 4px rgb(0 0 0 / 30%);
}

.imageCaroussel {
  height: 100%;
  width: 100%;
  border-radius: 25px;
  max-height: 400px;
  max-width: 700px;
}

.photo-album-widget {
  display: flex;
  justify-content: center;
}

.add-task,
.clear-task {
  display: inline-block;
  outline: 0;
  border: none;
  cursor: pointer;
  line-height: 1.2rem;
  font-weight: 500;
  background: rgb(111,106,248);
  padding: 8px 35px 9px;
  font-size: 13px;
  font-family: "Poppins";
  border-radius: 20px;
  color: #fff;
  height: 36px;
  transition: all 75ms ease-in-out;
  margin-top: 10px;
  margin-bottom: 5px;
}
.delete-task {
  display: inline-block;
  outline: 0;
  border: none;
  cursor: pointer;
  line-height: 1.2rem;
  font-weight: 500;
  background: rgb(111,106,248);

  font-size: 13px;
  font-family: "Poppins";
  border-radius: 20px;
  color: #fff;
  height: 26px;
  width: 50px;
  transition: all 75ms ease-in-out;
  margin-top: 10px;
  margin-bottom: 5px;
}

.add-task:hover,
.delete-task:hover,
.clear-task:hover {
  box-shadow: 0 1px 4px rgb(0 0 0 / 30%);
}

.buttonLine {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.infoline {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.col-11 {
  word-wrap: break-word;
}
