@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Condensed&display=swap");

.donut {
  margin-top: 30px;
  margin-right: 350px;
}
.crypto-container {
  padding: 20px;
}

.crytpo-btc {
  float: left;
  padding: 40px;
  width: 50%;
  height: 40vh;
  margin-bottom: 15px;
}
.crytpo-eth {
  float: left;
  padding: 40px;
  width: 50%;
  height: 40vh;
}

.resetZoomEth,
.refreshEth {
  display: inline-block;
  outline: 0;
  border: none;
  cursor: pointer;
  line-height: 1.2rem;
  font-weight: 900;
  background: rgb(95, 122, 227);
  padding: 8px 12px 9px;
  font-family: "Ubuntu";
  font-size: 13px;
  border-radius: 20px;
  color: #fff;
  height: 36px;
  transition: all 75ms ease-in-out;
}

.resetZoomEth {
  margin-left: 50px;
}

.refreshEth {
  margin-left: 25px;
}
.resetZoomEth:hover,
.refreshEth:hover {
  box-shadow: 0 1px 4px rgb(0 0 0 / 30%);
}

.resetZoomBtc,
.refreshBtc {
  display: inline-block;
  outline: 0;
  border: none;
  cursor: pointer;
  line-height: 1.2rem;
  font-weight: 900;
  background: rgb(247, 164, 99);
  padding: 8px 12px 9px;
  font-size: 13px;
  font-family: "Ubuntu";
  border-radius: 20px;
  color: #fff;
  height: 36px;
  transition: all 75ms ease-in-out;
}

.resetZoomBtc {
  margin-left: 50px;
}

.refreshBtc {
  margin-left: 25px;
}

.resetZoomBtc:hover,
.refreshBtc:hover {
  box-shadow: 0 1px 4px rgb(0 0 0 / 30%);
}
