@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Condensed&display=swap");

.donut {
  height: 25vh;
  width: 25vh;
}

@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.p {
  font-size: 1.6rem;
}

.h1 {
  font-size: 1rem;
}

.app {
  width: 100%;
  height: 100%;
  position: relative;
  background-color: rgba(0, 0, 0, 0.4);

  color: #fff;
}

.app .search {
  text-align: center;
  padding: 0rem;
}

.app input {
  padding: 0.7rem 1.5rem;
  font-size: 1.2rem;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.8);
  background: rgba(255, 255, 255, 0.1);
  color: #f8f8f8;
}

.app .temp {
  padding: 0.3rem 1rem;
  font-size: 0.5rem;
  color: #f8f8f8;
}

::placeholder {
  color: #f8f8f8;
}

.css-ond3k6-MuiPaper-root-MuiCard-root{
  background-color: rgba(234, 227, 227, 0.2);
  height: 10000;
}
.container {
  max-width: 300px;
  margin: auto;
  padding: 0.1rem;
  position: relative;
  top: 10%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.app .top {
  width: 100%;
  margin: 1rem auto;
}

.app .description {
  position: relative;
  transform-origin: 0 0;
  transform: rotate(269deg);
}

.app .bottom {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  width: 100%;
  width: 100%;

  margin: 2rem auto;
  padding: 1rem;
  border-radius: 12px;
  background-color: rgba(234, 227, 227, 0.2);
}

.bold {
  font-weight: 700;
}

.donut {
  margin-top: 30px;
  margin-right: 350px;
}
.crypto-container {
  padding: 20px;
}

.crytpo-btc {
  float: left;
  padding: 40px;
  width: 50%;
  height: 40vh;
  margin-bottom: 15px;
}
.crytpo-eth {
  float: left;
  padding: 40px;
  width: 50%;
  height: 40vh;
}

.resetZoomEth,
.refreshEth {
  display: inline-block;
  outline: 0;
  border: none;
  cursor: pointer;
  line-height: 1.2rem;
  font-weight: 900;
  background: rgb(95, 122, 227);
  padding: 8px 12px 9px;
  font-family: "Ubuntu";
  font-size: 13px;
  border-radius: 20px;
  color: #fff;
  height: 36px;
  transition: all 75ms ease-in-out;
}

.resetZoomEth {
  margin-left: 50px;
}

.refreshEth {
  margin-left: 25px;
}
.resetZoomEth:hover,
.refreshEth:hover {
  box-shadow: 0 1px 4px rgb(0 0 0 / 30%);
}

.resetZoomBtc,
.refreshBtc {
  display: inline-block;
  outline: 0;
  border: none;
  cursor: pointer;
  line-height: 1.2rem;
  font-weight: 900;
  background: rgb(247, 164, 99);
  padding: 8px 12px 9px;
  font-size: 13px;
  font-family: "Ubuntu";
  border-radius: 20px;
  color: #fff;
  height: 36px;
  transition: all 75ms ease-in-out;
}

.resetZoomBtc {
  margin-left: 50px;
}

.refreshBtc {
  margin-left: 25px;
}

.resetZoomBtc:hover,
.refreshBtc:hover {
  box-shadow: 0 1px 4px rgb(0 0 0 / 30%);
}

.imageCaroussel
{
  height: 100%;
  width: 100%;
  border-radius: 25px;
  max-height:400px;
  max-width:700px;
 
}

.photo-album-widget
{
  display: flex;
  justify-content: center;
}